<ion-view title="Home" id="page6" style="">
  <ion-content padding="true" class="has-header" ng-controller="homeCtrl as vm">
    <form id="home-form1" class="list">
      <label class="item item-input" id="home-search1" name="searchGit" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Git user" type="search" ng-model="vm.username" ng-change="vm.search()">
      </label>
      <br>
    <div class="list card" id="home-card23">
      <ion-item class="item-avatar positive" id="home-list-item32">
        <img ng-src="{{vm.user.avatar_url}}" >
        <a class="item item-text-wrap item-icon-right" style="border-width:0px" ng-href="#{{vm.blog}}">
            {{vm.user.name}}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>      
      </ion-item>
      <div class="item item-body"  id="home-list-item-container7">        
          <p style="margin-top:0px;color:#000000;">
            <strong>My Blog : </strong><a  ng-href="#{{vm.user.blog}}">
                {{vm.user.blog}}             
            </a>
          </p>
          <p style="margin-top:0px;color:#000000;">
            <strong>{{vm.user.bio}}</strong>
          </p>
      </div>
    </div>
    <div class="card" ng-repeat="repo in vm.repos" >
        <div class="item item-divider item-energized">
            {{repo.name}}
        </div>
        <a class="item item-text-wrap item-icon-right" ui-sref="gitgub.repodetails({username:vm.user.login,reponame:repo.name})">
            {{repo.description}}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <div class="item item-divider">
            {{repo.html_url}}
        </div>
    </div>
    </form>
  </ion-content>
</ion-view>