
      .platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px; 
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
      .show-list-numbers-and-dots ul{
        list-style-type: disc;
        padding-left:40px;
      }
      .show-list-numbers-and-dots ol{
        list-style-type: decimal;
        padding-left:40px;
      }

pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  /*! border-radius: 3px; */
  display: block;
  padding: 10px 15px 13px 15px;
  margin-bottom: 1em;
  background-color: #fff;
  border: solid 1px #efeee6;
  color: #f14e32;
  font-family: Courier, monospace;
  line-height: 18px;
  overflow: auto;
}